# Игнорируем всё
*

# Разрешаем директории (чтобы структура папок сохранялась)
!*/

# Разрешаем только Verilog/SystemVerilog файлы
!**/*.v
!**/*.sv

# Дополнительно можно явно разрешить другие важные файлы проекта
!.gitignore
